<%- include('partials/header'); -%>
<ul class="gigs">
  <li class="gig">
    <img src="https://example.com/concert.png" alt="gig icon" />
    <h4>Rock Night</h4>
    <p>Band: The Rockers, Venue: Madison Square Garden, Date: 12th Dec</p>
  </li>
  <li class="gig">
    <img src="https://example.com/jazz.png" alt="gig icon" />
    <h4>Jazz Evening</h4>
    <p>Band: Smooth Jazz, Venue: Blue Note, Date: 20th Dec</p>
  </li>
  <li class="gig">
    <img src="https://example.com/pop.png" alt="gig icon" />
    <h4>Pop Extravaganza</h4>
    <p>Band: Pop Stars, Venue: Wembley Stadium, Date: 5th Jan</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
